<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8" />
<title>List of Pet Vets</title>
</head>
<body>
<!--/*thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Vets"*/-->
	<h2 th:text="'List of Vets'">Vet List</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<td>Id</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
		</thead>

		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet.id}">1</td>
				<td th:text="${vet.firstName}">Ray</td>
				<td th:text="${vet.lastName}">Jiang</td>
			</tr>
		</tbody>
	</table>

</body>
</html>